
/*======GENERAL=========*/
body {
	background-color: #eceef4;	
	font-family: Proxima Nova Regular, Arial, sans-serif;
	font-size: 16px;
	color: #a5abc5;
	letter-spacing: 1px;
	counter-reset: section;
}
a {
	text-decoration: none;
	color: #6e768f;
	font-weight: bold;
}
.wrapper {
	max-width: 1140px;
	margin: auto;
}
.btn {
	background-color: #eceef4;
	border-radius: 4px;
	border: 1px solid #c9d0e1;
	padding: 15px 40px;
	color: #a5abc5;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.btn-active {
	background-color: #5fcac6;
	color: #fff;
	border-color: #54aca9;
}
.input-file {
	background-color: #eceef4;
	border-radius: 4px;
	border: 1px solid #c9d0e1;
	padding: 20px 30px;
	color: #9098b8;
	font-size: 16px;
	display: inline-block;
	margin: 60px 0 30px 40px;

}
.section-heading {
	padding: 0 0 0 40px;
	font-weight: 500;
	color: #6e768f;
	font-size: 22px;
}
.section-heading-text {
	padding-left: 20px;
}
.section-heading-small {
	color: #9fa5b8;
	font-size: 12px;
}
.section-heading:before {
	counter-increment: section;
    content: counter(section);
    font-size: 20px;
    font-weight: light;
    color: #6e768f;
    width: 50px;
    height: 50px;
    border: 2px solid #6e768f;
    border-radius: 50%;
    display: inline-block;
	text-align: center;
	box-sizing: border-box;
	padding: 12px 0;
 }
.center {
	text-align: center;
}
/*======MAIN=========*/
.main {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #c9d0e1;
	margin: 60px 0;
}
/*======HEDAER=========*/
.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 60px 0 0 0; 
}
.header__logo {
	width: 100px;
	height: 100px;
}
/*======ORDER=========*/
.order {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexef;
	display: -o-flex;
	display: flex;
	border-bottom: 1px solid #c9d0e1;
}
.order__cart {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding:10px;
}
.order__cart-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	color: #6e768f;
	padding: 10px;
}
.order__cart-details {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 30px;
}
.order__cart-details-block {
	padding: 0 20px;
	min-width: 92px;
}
.order__cart-details-block-heading {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #6e768f;
}
.order__cart-details-block-description {
	font-size: 14px;
	letter-spacing: 1px;
}
.order__cart-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}
.order__cart-buttons > .btn {
	width: 160px;
	padding: 20px 25px;
}
.order__help {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-left: 1px solid #c9d0e1;
	max-width: 337px;
	padding: 10px;
}
.order__help-left {
	width: 68px;
	text-align: center;
}
.order__help-right-heading {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #6e768f;
}
.order__help-right-contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.order__help-right-text {
	line-height: 20px;
	font-size: 14px;
}
.order__help-right-contacts > a {
	padding-right: 10px;
	font-size: 14px;
}

/*======SELECT=========*/
.select {
	text-align: center;
}
.select__heading {
	color: #6e768f;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 20px;
	letter-spacing: 3px;
	padding: 80px 0 60px 0;
}
.select__heading:after {
	content: '';
	width: 505px;
	border-bottom: 1px solid #c9d0e1;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 20px;
}
.select__label-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	padding-bottom: 80px;
}
.select__item {
	height: 200px;
	width: 300px;
	background-color: #f7f7fa;
	border: 1px solid #d7d9e0;
	border-radius: 4px;
	position: relative;
}
.select__item-wrapper {
	height: 200px;
	width: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.select__item-img {
	height: 100px;
}
.select__item-text {
	color: #9098b8;
	font-weight: bold;
}
input[name=radio]:checked + .select__item-wrapper {
	border: 3px solid #76a7e1;
	border-radius: 4px;
	box-sizing: border-box;
}
input[name=radio]:checked + .select__item-wrapper:before {
	/*font-family: Font Awesome\ 5 Free;*/
	content: url("../imgs/check-circle-sm.png");
	/*content: "\f058";*/
	position: absolute;
	top: -15px;
	right: -10px;
}
/*======UPLOAD=========*/
 .upload__table {
	border: 1px solid #e6e8ee;
	padding: 30px;
	margin: 10px auto 120px;
	text-align: left;
	color: #a5abc5;
	border-radius: 4px;
	width: 93%;
}
.upload__table-th {
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 40px 0 0;
}
.upload__table-td {
	padding: 20px 40px 0 0;
	font-size: 14px;
}
/*======CHOOSE=========*/
.choose__select-wrapper {
	margin: 40px 0 40px 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
}
.choose__select {
	border-radius: 4px;
	border: 1px solid #c9d0e1;
	padding: 15px 40px;
	color: #9098b8;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0 0 0 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width:160px;
	background: url(../imgs/arrow-down.png) 89% / 15% no-repeat;
	background-size: 12px;
	background-color: #eceef4;
}
.choose__select-wrapper-input {
	position: relative;
}
.choose__text {
	color: #9098b8;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.choose__btn-add {
	padding: 16px 40px 16px;
}
.choose__icon-add {
	padding: 0 20px 0 10px;
}
.choose__select-border {
	position: absolute;
	width: 1px;
	height: 47px;
	background-color: #c9d0e1;
	left: 134px;
}







/*======GENERAL=========*/
/*======GENERAL=========*/
/*======GENERAL=========*/
/*======GENERAL=========*/
/*======GENERAL=========*/
/*======GENERAL=========*/
/*======GENERAL=========*/
/*======GENERAL=========*/
/*======GENERAL=========*/
/*======FONT-AWESOME=========*/
.fa-long-arrow-alt-left{
	margin: 0 10px 0 0;
	font-size: 20px;
}
.fa-user {
	margin: 0 10px 0 0;
	font-size: 16px;
}
.fa-clipboard {
	margin: 0 20px 0 0;
	font-size: 24px;
}
.fa-life-ring {
	color: #6e768f;
	font-size: 30px;
	padding-top: 6px;
}
.fa-cloud-upload-alt {
	font-size: 16px;
	padding: 0 15px 0 0;
	color: #9098b8;
}
.fa-file-alt {
	padding: 0 10px 0 0;
}
.fa-trash {
	color: #a5abc5;
}
.fa-plus {
	color: #9098b8;
	padding: 0 10px;
	font-size: 14px;
}